* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
}

#contenedor {
  width: 80%;
  margin: 0 auto;
}
/*HEADER*/
#header {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-top: 3rem;
  width: 100%;
  display: flex;
  padding: 2rem;
  border-bottom: 2px solid #ccc;
  justify-content: space-between;
  align-items: center;
}

#header h1 {
  font-size: 2.5rem;
}

#header h1:hover{
  cursor: pointer;
}

#header img {
  width: 100%;
}

#header ul {
  display: flex;
}

#header ul li {
  font-size: 22px;
  margin: 0 25px;
}

#header ul li a {
  color: rgb(109, 105, 105);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#header ul li:hover a {
  text-decoration: underline;
  color: #fff;
}

#usuario {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

#usuario img {
  width: 10%;
}

#usuario p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 22px;
  margin-left: 15px;
}

/*Seccion principal*/
#principal {
  width: 100%;
  display: flex;
}

#seccion {
  width: 60%;
  border-top: 10px solid #ccc;
  margin: 2rem 2rem;
}

#seccion h3,
#lateral h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

.articulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.articulo h2 {
  font-size: 25px;
}

.articulo p {
  font-size: 20px;
}

.articulo p:last-child {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: justify;
  margin-top: 15px;
}

.imagen-articulo {
  width: 100%;
}

#lateral {
  border-top: 10px solid #ccc;
  margin-top: 2rem;
  width: 20%;
  display: flex;
  flex-direction: column;
}

#lateral div {
  border-top: 2px solid #ccc;
  margin: 20px auto;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#lateral div img {
  width: 100%;
}

#lateral div p {
  margin-left: 10px;
  font-size: 20px;
}

#footer {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  border-top: 4px solid #fff;
}
